.AboutPage {
    margin: 70px 150px;
}

.AboutPage h5 {
    color: gray;
    font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 100;
    margin-left: 150px;
}

.AboutPage h1{
    font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 100px 0px 150px;
}

.Aboutme h3 {
    font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
    color: gray;
    font-size: 15px;
    font-weight: 100;
    margin: 0 0 15px 0;
}

.Aboutme {
    margin: 30px 150px;
}
.AboutPage h2 {
    font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 25px 151px;
    font-size: 2rem;
}

.Resume{
    font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
    color: black;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    margin-left: 150px;
}