.Cert-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 40px;
    margin: 50px;
}

.Cert-grid h3,
h4 {
    font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 300;
    color: #bdbdbd;
    padding: 5px 15px;
}

.certsectwo h3 {
    font-size: 25px;
    font-weight: 700;
}

.Cert-card {
    border: 1px solid white;
    background: #111;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.certimage img {
    width: 100%;
    height: auto;
    max-height: 400px;
    border-radius: 10px 10px 0 0;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0 10px;
}

.skill-badge {
    border: 1px solid #555;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 13px;
    color: #bdbdbd;
    background-color: #1a1a1a;
}

.certsecthree {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.CertBtn {
    text-decoration: none;
    border: 1px solid gray;
    font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
    color: #bdbdbd;
    background-color: #1a1a1a;
    padding: 8px 15px;
    border-radius: 20px;
    margin-top: auto;
    align-self: flex-start;
    margin-top: 20px;
}