.contactpage {
    margin: 50px 150px;
}

.contactpage h5 {
    color: gray;
    font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 100;
}

.contactpage h2 {
    font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 5rem;
}

.contactpage h4 {
    font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 300;
    color: gray;
    text-align: center;
    margin: 20px 300px;
}

.contactsection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
}

.contactsection a {
    color: white;
    background-color: gray;
    padding: 10px;
    font-size: 35px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.35s ease-in-out,
        box-shadow 0.35s ease-in-out,
        background-color 0.35s ease-in-out;
}

.contactsection a:hover {
    transform: scale(1.15);
}

.contactform form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 350px;
}

.contact-required{
    width: 400px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 25px;
    color: gray;
    font-weight: 500;
    border-radius: 50px;
}

.contactform textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-required:focus{
    border: 2px solid gray;
}

.contactform input,
textarea {
  background-color: #1e1e1e;   
  color: white;                
  border: 1px solid #333;
  resize: none;
}


@media (max-width: 768px) {
    .contactpage {
        margin: 60px 20px;
    }

    .contactpage h5 {
        text-align: left;
        margin: 30px 10px;
    }

    .contactpage h2 {
        margin: 20px 10px;
        font-size: 1.5rem;
        text-align: left;
    }

    .contactpage h4 {
        margin: 30px 10px;
        text-align: left;
    }

    .contactsection {
        margin: 30px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 50px;
    }

    .contactsection a {
        font-size: 1.4rem;
        width: 30px;
        height: 30px;
    }
}