.Projectpage {
    margin: 70px 200px;
}

.Projectpage h5 {
    font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
    color: gray;
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 2rem;
}

.Projectpage h2 {
    font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: left;
    margin: 20px 0;
    font-size: 40px;
}

.Projectpage h4 {
    font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: left;
    color: gray;
    font-size: 1rem;
    font-weight: 300;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
  justify-content: center;
  margin: 0 200px;
}