.Projectpage {
    margin: 70px 150px;
}
.Projectpage h5{
    font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
    color: gray;
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 1rem;
}
.Projectpage h2{
    font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin: 20px 0;
}

.Projectpage h4{
    font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Project{
    display: flex;
}