.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 8px 18px;
    max-width: 1100px;
    width: calc(100% - 24px);
    background: rgba(20, 20, 20, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
    position: fixed;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.LeftNavbar,
.RightNavbar {
    display: flex;
    align-items: center;
    gap: 8px;
}

.LeftNavbar h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

.Navbar a {
    text-decoration: none;
    color: #52525b;
    padding: 7px 14px;
    font-size: 13px;
    line-height: 1.2;
}

.Navbar a:hover {
    background-color: rgb(21, 21, 21);
    color: white;
    border-radius: 10px;
}

.Navbar a.active {
    background: rgba(255, 255, 255, 0.15);
    color: white;
    border-radius: 10px;
}

.Hamburger {
    display: none;
    font-size: 22px;
    cursor: pointer;
    color: white;
}

@media (max-width: 768px) {
    .Hamburger {
        display: block;
    }

    .Navbar{
        width: calc(100% - 68px);
    }

    .RightNavbar {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: rgba(20, 20, 20, 0.9);
        backdrop-filter: blur(10px);
        border-radius: 16px;
        flex-direction: column;
        padding: 20px 0;
        gap: 14px;

        opacity: 0;
        pointer-events: none;
        transform: translateY(-10px);
        transition: all 0.3s ease;
    }

    .RightNavbar.active {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
    }
}
