.Project-card {
    border: 1px solid gray;
    max-width: 30vw;
    height: 300px;
    border-radius: 20px;
    padding: 30px;
    font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
}

.Project-card h3{
    font-size: 2rem;
    margin: 0 0 15px 0;
}

.Project-card p{
    color: gray;
    font-size: 15px;
    font-weight: 100;
}