.Project-card {
    border: 1px solid gray;
    max-width: 30vw;
    height: 300px;
    border-radius: 20px;
    padding: 30px;
    font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
}