* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: white;
  padding-top: 50px;
  background-color: #0b0b0b;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px);
  background-size: 70px 70px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: black 
}

::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 10px;
}
